* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;
}

main {
    height: 100%;
    margin: 0;
    background: red;
    width: 320px;
}

.navbar-desktop  {
    width: 320px;
    min-height: 70px;
    background-color: blue;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;

}

.social-media-icons {
    display: none;
    height: 20px;
    background-color: aqua;
}

.social-media-icons-ul {
    display: none;
    flex-direction: row;
    list-style: none;
    margin-top: 0;
    justify-content: flex-end;
}

.desktop-brand-and-nav-links-div {
    display: flex;
    /* display: none; */
    flex-direction: row;
    justify-content: space-around;
}

.nav-links-ul {
    display: flex;
    list-style-type: none;
}

.nav-links {
    top: 70px;
    padding: 10px;
    background-color: white;
}

.logo {
    display: none;
    text-decoration: none;
    /* color: white; */
    vertical-align: center;
}

.hamburger {
    display: block;
    cursor: pointer;
    /* margin-top: 20px; */
}

.bar {
    display: block;
    width: 30px;
    height: 4px;
    margin: 7px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background-color: black;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.nav-links-ul {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: blue;
    width: 320px;
    transition: 0.3s;
}

.nav-links-ul.active {
    left: 0;

}








.welcome {
    margin-top: 70px;
} 

.welcome-section-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 2.5%;
    /* margin-bottom: 10px; */
}

.welcome-section-container div {
    margin-bottom: 10px;
}

.intro-message {
    border: 1px solid;
    border-color: white;
}


/* Main proram  */


.main-program {
    background-color: black;
    width: 100%;
}

.main-program-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title h3 {
    color: white;
    padding: 30px;
}

.program-icon-div {
    width: 15%;
}

.program-description-div {
    margin-left: 5%;
}

.program-description {
    display: grid;
    grid-template-columns: 15% 40% 40%;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-around;
    background-color: #d3d3d3;
    border: 1px solid;
    height: 80px;
    width: 95%;
}

.program-description img {
    height: 20px;
    z-index: 1;
    background-color: yellow;
    border-radius: 50%;
    vertical-align: center;
    margin: 10px;
}

.program-description p {
    color: #ec5242;
}


.short-note p {
    color: black;
    font-size: 11px;
}

.join-program-btn {
    padding: 18px;
    width: 240px;
    margin: 15px;
    background-color: #ec5242;
    border: 0;
    color: white;
}



/* Partner */

.partners {
    background-color: black;
}

.partner-names-div {
    display: flex;
    flex-direction: column;
}

.first-row-partners {
    display: flex;
}

.second-row-partners {
    display: flex;
}

.first-row-partners p {
    display: flex;
    color: white;
}

.second-row-partners p {
    display: flex;
    color: white;
}


/* footer */

.footer-copyright-and-cc-logo-div {
    background-color: white;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 10px;
    align-content: center;
    padding: 8%;

}

.creative-commons-div {
    display: flex;
    align-items: center;
}

.commons-logo {
    font-weight: bold;
}

.creative-commons p {
    font-size: 12px;
    font-weight: bold;
    line-height: 6px;
}

.footer-copyright {
    align-items: center;
}
.footer-copyright p {
    font-size: 10px;
}




.individual-speaker {
    display: flex;
    width: 90%;
    margin: 5%;

}

.speaker-image img{
    height: 100px;
}